.user-list-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.add-user-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
}