<mat-card>
  <h2 translate>Publish on topic</h2>
  <mat-card-content>
    <json-editor [(ngModel)]="topicParams" [config]="{mode: 'code'}"></json-editor>

    <form [formGroup]="form" style="margin-top: 20px; display: flex; justify-content: space-between;">
      <mat-form-field style="width: 40%;">
        <input matInput [placeholder]="'Topic' | translate" formControlName="topic">
      </mat-form-field>
      <div style="width: 40%;">
        <button mat-raised-button [disabled]="!form.valid" color="primary" (click)="publish()" translate>
          {{ 'Publish' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <h2 translate>Subscribe to a topic</h2>
  <mat-card-content>
    <form [formGroup]="formSubscribe" style="display: flex; justify-content: space-between;">
      <mat-form-field style="width: 40%;">
        <input matInput [placeholder]="'Topic' | translate" formControlName="topic" [disabled]="subscribed">
      </mat-form-field>
      <div style="width: 40%;">
        <button mat-raised-button [disabled]="!formSubscribe.valid || subscribed" color="primary" (click)="subscribe()" translate>
          {{ 'Subscribe' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let message of messages">
  <mat-card-content>
    <pre>{{ message }}</pre>
  </mat-card-content>
</mat-card>