<mat-card *ngIf="user">
  <h2 style="margin: 0;">User: {{ user.User }}</h2>

  <mat-card-content *ngIf="user">
    <div class="mat-table" role="grid">
      <div class="mat-row" role="row">
        <div class="mat-header-cell cdk-column-username mat-column-username" role="columnheader" style="flex: 4;">
          Username
        </div>
        <div class="mat-header-cell cdk-column-maxSessions mat-column-maxSessions" role="columnheader">
          Max Sessions
        </div>
        <div class="mat-header-cell cdk-column-maxSessions mat-column-maxSessions" role="columnheader">
          Actual Sessions
        </div>
        <div class="mat-header-cell cdk-column-enabled mat-column-enabled" role="columnheader">
          Enabled
        </div>
      </div>

      <div class="mat-row" role="row">
        <div class="mat-cell cdk-column-username mat-column-username" role="gridcell" style="flex: 4;">
          {{ user.User }}
        </div>
        <div class="mat-cell cdk-column-maxSessions mat-column-maxSessions" role="gridcell">
          {{ user.MaxSessions }}
        </div>
        <div class="mat-cell cdk-column-maxSessions mat-column-maxSessions" role="gridcell">
          <span *ngIf="sessions">{{ sessions.N }}</span>
          <span *ngIf="!sessions">0</span>
        </div>
        <div class="mat-cell cdk-column-enabled mat-column-enabled" role="gridcell">
          <button mat-icon-button (click)="toggleDisabled()">
            <mat-icon *ngIf="!user.Disabled">check_circle</mat-icon>
            <mat-icon *ngIf="user.Disabled">cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>


      <div label="Tags">
        <h3>Tags</h3>
        <div style="display: flex; flex-wrap: wrap;">
          <pre style="flex: 1;">{{ this.tags }}</pre>
          <div style="flex: 1;">
            <mat-list>
              <div *ngFor="let key of user.Tags | keys">
                <h2 mat-subheader>Tags on path: "{{ key }}"</h2>
                <mat-list-item *ngFor="let value of user.Tags[key] | keys">
                  <button mat-icon-button (click)="deleteTag(key, value)">
                    <mat-icon mat-list-icon>delete</mat-icon>
                  </button>

                  <p>{{ value }}: {{ format(user.Tags[key][value]) }}</p>
                </mat-list-item>
              </div>
            </mat-list>
          </div>
        </div>
      </div>

      <div label="Add tags">
        <h3>Add tags</h3>
        <div style="margin-top: 20px;">
          <json-editor [(ngModel)]="tagValue" [config]="{mode: 'code'}"></json-editor>
        </div>

        <form [formGroup]="addTagsForm" style="margin-top: 20px; display: flex; justify-content: space-between;">
          <mat-form-field style="width: 30%;">
            <input matInput placeholder="Path" formControlName="path">
          </mat-form-field>
          <mat-form-field style="width: 30%;">
            <input matInput placeholder="Tag" formControlName="tag">
          </mat-form-field>
          <div style="width: 30%;">
            <button mat-raised-button [disabled]="!addTagsForm.valid" color="primary" (click)="addTag()">
              Add tags
            </button>
          </div>
        </form>
      </div>

      <div label="Expanded tags">
        <h3>Expanded tags</h3>
        <pre>{{ this.effectivetags }}</pre>
      </div>

      <div label="Templates">
        <h3>Templates</h3>
        <mat-list>
          <mat-list-item *ngFor="let template of user.Templates">
            <button mat-icon-button [routerLink]="'/users/' + template">
              <mat-icon mat-list-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTemplate(template)">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
            <p>{{ template }}</p>
          </mat-list-item>
          <mat-list-item style="margin-top: 20px;">
            <form [formGroup]="formTemplate">
              <button mat-icon-button [disabled]="!formTemplate.valid" (click)="addTemplate()">
                <mat-icon mat-list-icon>add</mat-icon>
              </button>

              <mat-form-field>
                <input matInput placeholder="New template" formControlName="template">
              </mat-form-field>
            </form>
          </mat-list-item>
        </mat-list>
      </div>

      <div label="White list">
        <h3>White list</h3>
        <mat-list>
          <mat-list-item *ngFor="let ip of user.Whitelist">
            <button mat-icon-button (click)="deleteWhitelist(ip)">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
            <p>{{ ip }}</p>
          </mat-list-item>
          <mat-list-item style="margin-top: 20px;">
            <form [formGroup]="formWhitelist">
              <button mat-icon-button [disabled]="!formWhitelist.valid" (click)="addWhitelist()">
                <mat-icon mat-list-icon>add</mat-icon>
              </button>

              <mat-form-field>
                <input matInput placeholder="New white list IP" formControlName="ip">
              </mat-form-field>
            </form>
          </mat-list-item>
        </mat-list>
      </div>

      <div label="Black list">
        <h3>Black list</h3>
        <mat-list>
          <mat-list-item *ngFor="let ip of user.Blacklist">
            <button mat-icon-button (click)="deleteBlacklist(ip)">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
            <p>{{ ip }}</p>
          </mat-list-item>
          <mat-list-item style="margin-top: 20px;">
            <form [formGroup]="formBlacklist">
              <button mat-icon-button [disabled]="!formBlacklist.valid" (click)="addBlacklist()">
                <mat-icon mat-list-icon>add</mat-icon>
              </button>

              <mat-form-field>
                <input matInput placeholder="New black list IP" formControlName="ip">
              </mat-form-field>
            </form>
          </mat-list-item>
        </mat-list>
      </div>

      <div label="Edit">
        <h3>Edit</h3>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;" *ngIf="!reloading">
          <div style="flex: 1; padding: 10px;">
            <h3>Try password</h3>
            <json-schema-form [schema]="tryPasswordSchema" (onSubmit)="tryPassword($event)"></json-schema-form>
            <h3>Edit password</h3>
            <form [formGroup]="formEditPassword">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Password *" formControlName="password" type="password">
              </mat-form-field>
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Confirm password *" formControlName="confirmPassword" type="password">
              </mat-form-field>

              <div><button mat-raised-button [disabled]="!formEditPassword.valid" (click)="editPassword()" color="primary">
                  Submit
              </button></div>
            </form>
          </div>
          <div style="flex: 1; padding: 10px;">
            <h3>Edit maximum sessions</h3>
            <json-schema-form [schema]="editMaxsessionsSchema" (onSubmit)="editMaxsessions($event)"></json-schema-form>
          </div>
        </div>
      </div>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="!user">
  <p>User does not exist</p>
</mat-card>