<div class="filter-table-header">
  <mat-form-field floatPlaceholder="never">
    <input matInput [placeholder]="'Filter services' | translate" [formControl]="prefix">
  </mat-form-field>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle="true" *ngFor="let path of serviceshow">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ path }}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="services[path].info">{{ services[path].info.description }}</span>
        <span *ngIf="!services[path].info"> - </span>

        <mat-icon *ngIf="services[path].info">check_circle</mat-icon>
        <mat-icon *ngIf="!services[path].info">close</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <div label="Info">
        <h2 translate>Info</h2>
        <mat-list class="services-list">
          <mat-list-item>
            <button mat-icon-button>
              <mat-icon mat-list-icon>assignment</mat-icon>
            </button>
            <p class="services-item" translate>Pull count</p>
            <span class="flex-3 services-item">{{ services[path].pulls }}</span>
          </mat-list-item>

          <mat-list-item>
            <button mat-icon-button (click)="pingService(path)">
              <mat-icon mat-list-icon>timer</mat-icon>
            </button>
            <p class="services-item" translate>Ping service</p>
            <span class="flex-3 services-item" *ngIf="services[path].ping">{{ services[path].ping.min }} / {{ services[path].ping.avg }} / {{ services[path].ping.max }} ms</span>
            <span class="flex-3 services-item" *ngIf="!services[path].ping"> - / - / - </span>
          </mat-list-item>
        </mat-list>
      </div>

      <div label="Push">
        <h2>Push</h2>
        <mat-form-field *ngIf="services[path].methodSelected" style="margin-top: 15px;">
          <mat-select placeholder="Method" [formControl]="services[path].methodSelected" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let method of services[path].methods" [value]="method">
              {{ method }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="services[path].methodSelected.hasError('required')">{{ 'Please choose a method' | translate }}</mat-error>
        </mat-form-field>

        <div *ngIf="services[path].pushSchema">
          <h3 translate>Input parameters</h3>
          <!-- <json-schema-form [schema]="services[path].pushSchema" (onSubmit)="pushService(path, $event)"></json-schema-form> -->
          
        </div>
        
        <div id='editor_holder'></div>
        <button id='submit'>Submit (console.log)</button>

        <div *ngIf="services[path].noSchema" translate>NO_SCHEMA</div>

        <div *ngIf="services[path].pushResult">
          <h3 translate>Result</h3>
          <pre>{{ services[path].pushResult }}</pre>
        </div>

        <div *ngIf="services[path].pushError">
          <h3 translate>Error</h3>
          <pre>{{ services[path].pushError }}</pre>
        </div>
      </div>

      <div label="Schema">
        <h2 translate>Schema</h2>
        <pre style="font-size: 11px; line-height: 13px;">{{ services[path].schemastring }}</pre>
      </div>

  </mat-expansion-panel>
</mat-accordion>