<mat-toolbar color="primary">
	<button mat-icon-button>
		<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
	</button>
	<span class="middle-spacer"></span>
	<button mat-icon-button>
		<mat-icon>exit_to_app</mat-icon>
	</button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px);">
	<mat-sidenav #sidenav mode="side" opened="true">
		<mat-list>
			<h2 mat-subheader>Usuarios</h2>
			<button mat-button class="menu-button">
				<mat-list-item>
					<mat-icon mat-list-icon>people</mat-icon>
					<h3 mat-line>Usuarios 1</h3>
				</mat-list-item>
			</button>

			<mat-divider></mat-divider>

			<h2 mat-subheader>Tareas</h2>
			<button mat-button class="menu-button">
				<mat-list-item>
					<mat-icon mat-list-icon>build</mat-icon>
					<h3 mat-line>Tareas 1</h3>
				</mat-list-item>
			</button>
		</mat-list>
	</mat-sidenav>

	<mat-card>
		<mat-card-header>
			Dashboard
		</mat-card-header>
		<mat-card-content>
			Nothing to see here yet
		</mat-card-content>
	</mat-card>

</mat-sidenav-container>