<mat-toolbar color="primary">
	<button mat-icon-button>
		<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
	</button>
	<span class="middle-spacer"></span>
	<button mat-icon-button *ngIf="nexus.isLogged()" (click)="logout()">
		<mat-icon>exit_to_app</mat-icon>
	</button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px);">
	<mat-sidenav #sidenav mode="side" opened="false">
		<mat-list>
			<div *ngFor="let linkGroup of linkGroups">
				<h2 mat-subheader>{{ linkGroup.name }}</h2>

				<button mat-button class="menu-button" *ngFor="let link of linkGroup.links" [routerLink]="link.route">
					<mat-list-item>
						<mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
						<h3 mat-line>{{ link.name }}</h3>
					</mat-list-item>
				</button>

				<mat-divider></mat-divider>
			</div>
		</mat-list>
	</mat-sidenav>

	<router-outlet></router-outlet>
</mat-sidenav-container>