@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  background-color: #eee;
  margin: 0;
  height: 100%;
}

.middle-spacer {
  flex: 1 1 auto;
}

.mat-drawer-container {
  background-color: #eee;
}

.mat-card {
  margin: 10px;
}

.pull-right-inner {
  display: flex !important;
  justify-content: flex-end;
}

.center-inner {
  display: flex !important;
  justify-content: center;
}