<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <h3 translate>Services</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 *ngIf="!loadingServices">{{ services }} / {{ totalServices }}</h2>
        <mat-spinner *ngIf="loadingServices" class="spinner" [diameter]="55" [strokeWidth]="5"></mat-spinner>
        <p translate>active services</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <h3 translate>Users</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 *ngIf="!loadingUsers">{{ users }}</h2>
        <mat-spinner *ngIf="loadingUsers" class="spinner" [diameter]="55" [strokeWidth]="5"></mat-spinner>
        <p translate>total users</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <h3 translate>Tasks</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 *ngIf="!loadingTasks">{{ tasks }}</h2>
        <mat-spinner *ngIf="loadingTasks" class="spinner" [diameter]="55" [strokeWidth]="5"></mat-spinner>
        <p translate>active tasks</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <h3 translate>Nodes</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 *ngIf="!loadingNodes">{{ nodes.count }}</h2>
        <mat-spinner *ngIf="loadingNodes" class="spinner" [diameter]="55" [strokeWidth]="5"></mat-spinner>
        <p *ngIf="!loadingNodes">{{ formatLoad(nodes.Load) }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>